.intro {
  padding-bottom: 112px;
  &-container {
    display: flex;
    align-items: center;
  }
  &-content {
    min-width: 633px;
  }
  &-btn {
    font-size: 24px;
  }
  .intro-img {
    max-width: 1055px;
    img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 1399.98px) {
  .intro-container {
    flex-direction: column-reverse;
    gap: 40px 0;
  }
}
@media screen and (max-width: 1279.98px) {
  .intro {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767.98px) {
  .intro-content {
    min-width: unset;
  }
  .intro-btn {
    padding: 20px 50px;
  }
}
