.report {
  padding-bottom: 149px;
  &-container {
    display: flex;
    align-items: center;
    gap: 0 36px;
  }
  &-map {
    position: relative;
  }

  &-zoom {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(58px, -52px);
    display: flex;
    flex-direction: column;
    position: absolute;

    width: 89.06px;
    background: #ffffff;
    box-shadow: 0px 5px 50px rgba(104, 33, 28, 0.1);
    border-radius: 5px;
  }
  &-zoomIn,
  &-zoomOut {
    --zoom-color: #a2a5b2;
    display: inline-block;
    padding: 22.99px 27.59px 22.99px 29.89px;
    color: var(--zoom-color);
    cursor: pointer;
    position: relative;
    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      content: '';
      width: 9.2px;
      height: 1px;
      transform: rotate(0.5turn);
      transform: translateX(-50%);
      background-color: var(--zoom-color);
    }
  }
  &-compass {
    padding: 22px 33px;
    cursor: pointer;
  }
  &-search {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-52px);
    width: 76px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 7px 76px rgba(146, 53, 46, 0.18);
    border-radius: 4.16667px;
  }
  &-content {
    min-width: 404px;
    background: linear-gradient(360deg, #fffbfb -79.45%, #fdfdfd 105.35%);
    box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
    padding: 54px 55px 52px;
  }
  &-heading {
    font-weight: 500px;
    font-size: 48px;
    line-height: calc(57.59 / 48);
    margin-bottom: 0;
  }
  &-top {
    display: flex;
    margin-bottom: 40px;
  }
  &-nav {
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.1);
    border-radius: 6.16667px;
    height: 48.94px;
    &--left,
    &--right {
      width: 43px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    &--center {
      border: 2px solid #dee1ed;
      height: 17.35px;
      border-radius: 4px;
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
  }
  &-countries {
    display: flex;
    align-items: center;
    gap: 0 27px;
    font-weight: 500;
    font-size: 31px;
    line-height: calc(37.19 / 31);
    img {
      width: 49px;
    }
  }
  &-active {
    display: flex;
    align-items: center;
    gap: 0 21px;
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28.79 / 24);
    img {
      width: 23px;
      height: 13.8px;
    }
  }
}
@media screen and (max-width: 1023.98px) {
  .report {
    padding-bottom: 50px;
  }
  .report-container {
    flex-direction: column;
    gap: 30px 0;
  }
  .report-top {
    justify-content: space-between;
    align-items: center;
  }
  .report-heading {
    font-size: 30px;
  }
  .report-content {
    min-width: 500px;
  }
}
@media screen and (max-width: 767.98px) {
  .report {
    padding-bottom: 50px;
  }
  .report-content {
    min-width: 100%;
    padding: 30px 10px 0;
  }
  .report-zoomIn,
  .report-zoomOut {
    padding: 12.99px 17.59px 12.99px 19.89px;
  }
  .report-zoom {
    width: unset;
    transform: translateX(0);
  }
  .report-compass {
    padding: 10px 0 0;
    display: grid;
    place-content: center;
  }
  .report-heading {
    font-size: 30px;
  }
  .report-countries {
    gap: 0 10px;
    font-size: 25px;
  }
}
